.footer-area {
    padding-top: 100px;
    .logo-items {
        img {

        }
        p {
            font-family: 'Mulish',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px; 
            color: #0F1A54;
            opacity: 0.8;
            padding-top: 30px;

        }
    }
    .footer-list {
        ul {
            .menu-items {
                padding-bottom: 30px;
                a {
                    font-family: 'Mulish',sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    text-decoration: none;
                    color: #0F1A54;
                }
            }
            li {
                list-style: none;
                padding-bottom: 15px;
                a {
                    text-decoration: none;
                    font-family: 'Mulish',sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #0F1A54;
                    opacity: 0.8;
                }
            }
        }
    }
    .items {
        padding-top: 80px;
        hr {
            color: #0F1A54;
        }
    }
    p {
        padding-top: 40px;
        padding-bottom: 30px;
    }
}